In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy import stats

In [2]:
# Leitura da planilha 
DADOS = r"C:\Users\rodri\OneDrive\Sincroniza√ß√£o\Documentos\GitHub\confidence-interval-car-suitability-sweden\data\sample_population_height.xlsx"
df = pd.read_excel(DADOS)

# Visualizar as primeiras linhas da tabela
df.head()

   ID  Altura
0   1   1.412
1   2   1.966
2   3   2.666
3   4   2.000
4   5   1.402

In [3]:
# Visualizar as √∫ltimas linhas da tabela
df.tail()

    ID  Altura
45  46   1.979
46  47   1.760
47  48   1.983
48  49   1.961
49  50   1.648

In [4]:
# Conferir os tipos de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      50 non-null     int64
 1   Altura  50 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 932.0 bytes

In [5]:
# Defini√ß√£o da vari√°vel da 'amostra'
amostra = df["Altura"].to_numpy()

In [6]:
# Estat√≠sticas b√°sicas
media = np.mean(amostra)
n = len(amostra)
variancia_amostral = np.var(amostra, ddof=1)
erro_padrao = np.sqrt(variancia_amostral / n)

# Exibir os resultados
print(f"M√©dia: {media:.2f}")
print(f"Tamanho da amostra: {n}")
print(f"Vari√¢ncia amostral: {variancia_amostral:.2f}")
print(f"Erro padr√£o da m√©dia: {erro_padrao:.2f}")

M√©dia: 1.82
Tamanho da amostra: 50
Vari√¢ncia amostral: 0.08
Erro padr√£o da m√©dia: 0.04

In [15]:
# N√≠vel de confian√ßa de 90%)
conf_90 = 0.90

# N√≠vel de confian√ßa de 95%)
conf_95 = 0.95

# N√≠vel de confian√ßa de 99%)
conf_99 = 0.99

In [16]:
# Fun√ß√£o para calcular intervalo de confian√ßa
def intervalo_confianca(conf, media, erro_padrao, n):
    t_critico = abs(stats.t.ppf((1 - conf) / 2, df=n-1))
    limite_inferior = media - t_critico * erro_padrao
    limite_superior = media + t_critico * erro_padrao
    return t_critico, limite_inferior, limite_superior

# Intervalo de confian√ßa de 90%
t_critico_90, limite_inferior_90, limite_superior_90 = intervalo_confianca(conf_90, media, erro_padrao, n)

# Intervalo de confian√ßa de 95%
t_critico_95, limite_inferior_95, limite_superior_95 = intervalo_confianca(conf_95, media, erro_padrao, n)

# Intervalo de confian√ßa de 99%
t_critico_99, limite_inferior_99, limite_superior_99 = intervalo_confianca(conf_99, media, erro_padrao, n)

# Exibir resultados
print("\nüîπ Intervalo de Confian√ßa de 90%:")
print(f"T-Cr√≠tico: {t_critico_90:.2f}")
print(f"Limite Inferior: {limite_inferior_90:.2f}")
print(f"Limite Superior: {limite_superior_90:.2f}")

# Exibir resultados
print("\nüîπ Intervalo de Confian√ßa de 95%:")
print(f"T-Cr√≠tico: {t_critico_95:.2f}")
print(f"Limite Inferior: {limite_inferior_95:.2f}")
print(f"Limite Superior: {limite_superior_95:.2f}")

print("\nüîπ Intervalo de Confian√ßa de 99%:")
print(f"T-Cr√≠tico: {t_critico_99:.2f}")
print(f"Limite Inferior: {limite_inferior_99:.2f}")
print(f"Limite Superior: {limite_superior_99:.2f}")

üîπ Intervalo de Confian√ßa de 90%:
T-Cr√≠tico: 1.68
Limite Inferior: 1.75
Limite Superior: 1.89

üîπ Intervalo de Confian√ßa de 95%:
T-Cr√≠tico: 2.01
Limite Inferior: 1.74
Limite Superior: 1.90

üîπ Intervalo de Confian√ßa de 99%:
T-Cr√≠tico: 2.68
Limite Inferior: 1.71
Limite Superior: 1.92